<p>This is my lab project during StartupInstitute (Oct - Dec 2013).  It started as an open table clone, but I have a hard time building something I would never use.  So, I noticed that a lot of times when I try to meet/catch up with people, we have a hard time deciding where to go.  I dread being the one having to decide.  There is always that really coold place I saw the other day, but I don't remember it!  Enter MeetMe.Here.  It is my way of organizaing and curating places I like going to so I can just send my friend a link of narrowed down options.</p>

<p>Once my friend has decided, they can "reserve" at the location with a time.  I will be notified via email of the "reservation" and I will either accept of decline, which will prompt my friend with a return email.</p>

<p><%=link_to "Live Site", 'http://meetmehere.herokuapp.com' %> for the latest app.  This is a work in progress :)</p>

<p>Gems and specs:</p>

<ul>
	<li>Geomaps, Gmaps4Rails, and Google static maps</li>
	<li>Carrierwave for images</li>
	<li>Devise for authentication and user model</li>
	<li>Client side validation</li>
	<li>Bootstrap</li>
	<li>Rspec</li>
	<li>Actionmailer and Mailcatcher</li>
	<li>SendGrid</li>
</ul>

