<table class = "table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Locations Posted</th>
		</tr>
	</thead>
	<% @owners.each do |owner| %>
		<tbody>
			<tr>
				<td><%= owner.name %></td>
				<td><%= owner.email %></td>
				<td><%= owner.restaurants.count %></td>
			</tr>
		</tbody>
	<% end %>
</table>
