<% @restaurant.each do |r| %>
	<div class = "restaurant-box">
		<h3 class = "restaurant-name"><%= link_to r.name, restaurant_path(r) %></h3>
		<div class= "restaurant-photo">
			<%= image_tag r.photo_url(:thumb).to_s, class: "image-thumb" %>
		</div>
		<div class = "restaurant-description">
			<p><%= r.description %></p>
		</div>
	</div>
<% end %>
